body, a, a:active
{
	background-color: #222;
	color: #fff;
	text-shadow: 0px 0px 16px black;
	text-decoration: none;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	text-align: center;
	margin: 0px;
}

h1
{
	font-size: 4em;
}

h2
{
	font-size: 2em;
}

p
{
	font-size: 1.25em;
}

#global-bg
{
	position: fixed;
	z-index: -1000;
	min-width: 100%;
	min-height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#global-bg-nojs
{
	background-color: #222;
}

.content
{
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 4em;
	padding-bottom: 4em;
}

.content-background
{
	background-color: #22222277;
}

h1
{
	padding-bottom: 1em;
}

h2
{
	padding-bottom: 0.5em;
}

.button
{
	color: #222;
	background-color: #fff;

	font-size: 1em;

	display: inline-block;

	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;

	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

.menubar
{
	background-color: #444444ee;
	position: fixed;
	width: 100%;
}

.menubar .button
{
	color: #fff;
	background-color: #00000000;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0px;
}

.menubar #selected-button
{
	font-weight: bolder;
	background-color: #777777ee;
}

.icon
{
	width: 1em;
	height: 1em;
}

.menubar-button
{
	background-color: #ffffff44;

	position: fixed;
	width: 4em;
	height: 4em;
	left: auto;
	right: 1em;
	top: 1em;
}

@media screen and (orientation: landscape)
{
	.row
	{
		display: flex;
	}

	.column
	{
		flex: 1;
	}

	.menubar-button
	{
		visibility: hidden;
	}

	#menubar-back
	{
		visibility: hidden;
		width: 0px;
		height: 0px;
		margin: 0px;
		padding: 0px;
	}
}

@media screen and (orientation: portrait) {
	.menubar
	{
		visibility: hidden;
	}

	.menubar .button
	{
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
}
