body
{
	text-align: center;
	margin: 0px;
}

#left
{
	float: left;
}

#right
{
	float: right;
}

@media only screen and (min-width: 25cm)
{
	#left, #right
	{
		width: 50%;
	}
}

@media only screen and (max-width: 25cm)
{
	#left, #right
	{
		width: 100%;
	}
}
